Codigo/MaxiKioscos/MaxiKioscos.Web/Service References/ForzarSincronizacionService/ForzarSincronizacionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MaxiKioscos.Services.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MaxiKioscos.Services.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ObtenerDatosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exportaciones" nillable="true" type="tns:ArrayOfExportacionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtenerDatosResponse" nillable="true" type="tns:ObtenerDatosResponse" />
  <xs:complexType name="ArrayOfExportacionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExportacionData" nillable="true" type="tns:ExportacionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExportacionData" nillable="true" type="tns:ArrayOfExportacionData" />
  <xs:complexType name="ExportacionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Secuencia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExportacionData" nillable="true" type="tns:ExportacionData" />
</xs:schema>