Codigo/MaxiKioscos/MaxiKioscos.Winforms/Service References/NotificacionService/NotificacionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51557/NotificacionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MaxiKioscos.Services.Contracts" />
  <xs:element name="ReportarError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MaxiKioscos.Services.Contracts" minOccurs="0" name="request" nillable="true" type="q1:ReportarErrorRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportarErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportarErrorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>