Codigo/MaxiKioscos/MaxiKioscos.Winforms/Service References/SincronizationService/SincronizacionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51557/SincronizacionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MaxiKioscos.Services.Contracts" />
  <xs:import schemaLocation="http://localhost:51557/SincronizacionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="ObtenerDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MaxiKioscos.Services.Contracts" minOccurs="0" name="request" nillable="true" type="q1:ObtenerDatosRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MaxiKioscos.Services.Contracts" minOccurs="0" name="ObtenerDatosResult" nillable="true" type="q2:ObtenerDatosResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosSecuencial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MaxiKioscos.Services.Contracts" minOccurs="0" name="request" nillable="true" type="q3:ObtenerDatosRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosSecuencialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MaxiKioscos.Services.Contracts" minOccurs="0" name="ObtenerDatosSecuencialResult" nillable="true" type="q4:ObtenerDatosSecuencialResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MaxiKioscos.Services.Contracts" minOccurs="0" name="request" nillable="true" type="q5:ActualizarDatosRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MaxiKioscos.Services.Contracts" minOccurs="0" name="ActualizarDatosResult" nillable="true" type="q6:ActualizarDatosResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcusarExportacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MaxiKioscos.Services.Contracts" minOccurs="0" name="request" nillable="true" type="q7:AcusarExportacionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcusarExportacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InicializarKiosco">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InicializarKioscoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MaxiKioscos.Services.Contracts" minOccurs="0" name="InicializarKioscoResult" nillable="true" type="q8:InicializarKioscoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarcarKioscoComoAsignado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarcarKioscoComoAsignadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MaxiKioscos.Services.Contracts" minOccurs="0" name="MarcarKioscoComoAsignadoResult" nillable="true" type="q9:KioscoAsignadoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSecuencias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSecuenciasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MaxiKioscos.Services.Contracts" minOccurs="0" name="ObtenerSecuenciasResult" nillable="true" type="q10:ObtenerSecuenciasResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForzarArmadoDeArchivoExportacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="usuarioIdentifier" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForzarArmadoDeArchivoExportacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AcusarEstadoConexion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="maxikioscoIdentifier" type="q12:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcusarEstadoConexionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcusarEstadoConexionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>